.TaskContainer {
    width: 40%;
    //max-width: 800px;
    min-width: 760px;
    height: 50%;
    min-height: 300px;
    table-layout: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}